<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ConnectionString" value="Server=.\MSSQLSERVER2017;Database=Sasy;User Id=sasy;Password=Pintotto1!;Trusted_Connection=False;Encrypt=False" />
        <add key="DecryptionKey" value="*W87329p1HR%M7$d" />
    </appSettings>
</configuration>